{% extends "base.html" %}
{% load crispy_forms_tags %}

<!-- Template de création d'une critique (et du ticket associé) -->
{% block content %}
<div class="container py-4">
    <h2>Créer une critique</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="card mb-4">
            <div class="card-header">
                Ticket
            </div>
            <div class="card-body">
                {{ ticket_form|crispy }}
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                Critique
            </div>
            <div class="card-body">
                {{ review_form.headline|as_crispy_field }}
                {{ review_form.body|as_crispy_field }}
                
                {% include "flux/partials/star_rating_input_snippet.html" with rating_field=review_form.rating %}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>
{% endblock content %}