{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LITReviews</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body>
        <header>
            <div class="header-content">
                <h1 class="site-title">LITReview</h1>
                {% if user.is_authenticated %}
                <nav>
                    <a href="{% url 'flux' %}">Flux</a>
                    <a href="{% url 'posts' %}">Posts</a>
                    <a href="{% url 'subscriptions' %}">Abonnements</a>
                    <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Se déconnecter</a>
                    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                        {% csrf_token %}
                    </form>
                </nav>
                {% endif %}
            </div>
        </header>
        
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>

</html>