{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'app.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow-sm py-5" 
            style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
            url('{% static 'image\header_banner_2.jpg' %}');
            background-size: cover; background-position: center;">
            <div class="container-fluid px-4">
                <div class="navbar-brand d-none d-lg-block" style="flex: 1;">
                        <span class=" fs-4 fw-light"><strong>{{ user.username }}</strong></span>
                </div>
        {% endif %}
                <div class="text-center" style="flex: 2;">
                    <a class="navbar-brand m-0" href="{% url 'flux' %}">
                        <h1 class="display-1 fw-bolder text-white" style="text-shadow: 3px 3px 6px rgba(0,0,0,0.7);">
                            LITReview
                        </h1>
                    </a>
                </div>

                <div class="d-flex justify-content-end align-items-center" style="flex: 1;">
                    {% if user.is_authenticated %}
                        <div class="navbar-nav fs-4 gap-3">
                            <a class="nav-link {% if request.resolver_match.url_name == 'flux' %}active fw-bold{% endif %}" href="{% url 'flux' %}">Flux</a>
                            <a class="nav-link {% if request.resolver_match.url_name == 'posts' %}active fw-bold{% endif %}" href="{% url 'posts' %}">Posts</a>
                            <a class="nav-link {% if request.resolver_match.url_name == 'subscriptions' %}active fw-bold{% endif %}" href="{% url 'subscriptions' %}">Abonnements</a>
                            <form method="post" action="{% url 'logout' %}" class="d-flex">
                                {% csrf_token %}
                                <button type="submit" class="nav-link bg-transparent border-0">Déconnexion</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>

</html>