/* Dans app.css */
.bg-login {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('/static/image/LITrevu banner.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}